header {
    width: 1260px;
    height: 73px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 0 auto; 
    background: #FFFFFF0D;
    backdrop-filter: blur(14px);
    z-index: 9999;
    padding: 0 26px;
    position: fixed;
    left: 0;
    right: 0;
    top: 36px;
    color: #fff;
}

header a{
    color: #fff;
}

.navbar-header {
    display: flex;
    column-gap: 40px;
}

.navbar-header a {
    transition: all .3s ease;
}

.navbar-two a {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    transition: all .3s ease;
}

.navbar-two {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.navbar-two a {
    font-size: 17px;
    font-weight: 500;
}

.navbar-header a:hover {
    color: #6DDCFF;
    transition: all .3s ease;
}

.navbar-two a:hover {
    color: #6DDCFF;
    transition: all .3s ease;
}

.header__btn {
    width: 188px;
    height: 50px;
    border: 1px solid #6DDCFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
}

.home {
    width: 100%;
    height: 100vh;  
    background: linear-gradient(to top, rgba(0, 0, 0, 0.801) 100%, rgba(0,0,0,0) 100%), url(../images/home/home__banner.jpg);
    background-size: cover;
    background-position: center;
}

.home1 {
    width: 1260px;
    height: 451px;
    margin: 0 auto;
    position: relative;
    top: 45%;
}

.home1 h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28.63px;
}

.home1 h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 71.58px;
    text-transform: uppercase;
}

.home1 p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #A1A1AA;
}

.home1-btn-main {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.home1-btn {
    width: 202px;
    height: 60px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, #7F60F9, #6DDCFF);
}

.home1-btn:hover {
    opacity: 0.9;
}

.home1-inp {
    width: 369px;
    height: 60px;
    background: transparent;
    border: 2px solid #303737;
    border-radius: 60px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    outline: none;
    padding: 0 30px;
}
.home1-inp::placeholder {
    color: #71717A;
}

.cacMyRabotaem {
    width: 100%;
    height: 85vh;  
    background: #0D0D0D;
}

.cacMyRabotaem__main {
    width: 1260px;
    margin: 0 auto;
}

.cacMyRabotaem__main p {
    font-weight: 600;
    font-size: 16px;
    line-height: 19.09px;
    letter-spacing: 10%;
}

.cacMyRabotaem__main h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 71.58px;
    text-transform: uppercase;
}

.otRaschota {
    color: transparent;
    -webkit-text-stroke: 2px #848484; 
    background-clip: text;
}

.doVnedrenia {
    background: var(--Linear, linear-gradient(98deg, #6ddcff 0, #7f60f9 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main__block {
    width: 100%;
    height: 290px;
    display: flex;
    justify-content: space-between;
}

.main__block-one {
    width: 256px;
    height: 252px;
    font-size: 16px;
    font-weight: 400;
    opacity: .5;
    color: #FFFFFF;
    background: transparent;
}

.main__block-two {
    width: 450px;
    height: 252px;
    background: transparent;
    border: 2px solid #2B2B2B;
    border-radius: 10px;
}

.main__block-two1 {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.main__block-two2 {
    margin-top: auto;
    padding: 25px;
}

.steps__item-label {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    color: #fff;
}

.steps__item-text {
    color: #fff;
    font-weight: 400;
    line-height: normal;
    font-size: 16px;
    opacity: .6;
}

.main__block-tre {
    width: 450px;
    height: 252px;
    background: rgba(43, 43, 43, .3);
    border: 2px solid #2B2B2B;
    border-radius: 10px;
}

.main__block-two3 {
    width: 390px;
    height: 252px;
    background: rgba(43,43,43,.3);
    border: 2px solid #2B2B2B;
    border-radius: 10px;
}
.main__block-two4 {
    width: 390px;
    height: 252px;
    background: transparent;
    border: 2px solid #2B2B2B;
    border-radius: 10px;
}
.main__block-two5 {
    width: 390px;
    height: 252px;
    background: var(--Linear, linear-gradient(98deg, #6ddcff 0, #7f60f9 100%));
    border: 2px solid #2B2B2B;
    border-radius: 10px;
}

.home__main-absolute {
    position: absolute;
    top: 65vh;
    right: 0;
    pointer-events: none;
}

.number-block.visible {
    width: 1260px;
    margin: 0 auto;
    display: flex;
}

.number-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0 15px 0;
    border-top: 2px solid #fff;
    opacity: .2;
    overflow: hidden;
}


.dlya_kogo {
    width: 100%;
    height: 80vh;
    margin: 0;
    overflow: hidden;
}
.string{
    font-weight: 700;
    font-size: 120px;
    line-height: 145.08px;
	width: 3000px;
    display: flex;
	padding: 0 10px;
    color: transparent;
    -webkit-text-stroke: 2px #848484; 
    background-clip: text;
}
.marquee1 {
    overflow: hidden;
    width: 100%;
}
.marquee1 div {
    white-space: nowrap;
    font-size: 120px;
    font-weight: 700;
    line-height: 145.08px;
    color: #D9D9D9;
}

.string2{
    font-weight: 700;
    font-size: 120px;
    line-height: 145.08px;
	width: 3000px;
    display: flex;
	padding: 0 10px;
    color: transparent;
    -webkit-text-stroke: 2px #848484; 
    background-clip: text;
}
#marquee2 {
    overflow: hidden;
    width: 100%;
}

.dlya_kogo-absolute {
    height: 75vh;
    position: relative;
    bottom: 30vh;
    opacity: .5;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dlya__text {
    width: 1260px;
    margin: 0 auto;
    position: relative;
    top: 30px;
}

.dlya__text p {
    font-weight: 600;
    color: #CCCCCC;
    font-size: 16px;
    line-height: 19.09px;
}

.dlya__text h1 {
    font-weight: 600;
    font-size: 60px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.absolute-home2 {
    position: absolute;
}

.dlya_span {
    background: var(--Linear, linear-gradient(98deg, #6ddcff 0, #7f60f9 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.reshenia {
    width: 100%;
    margin-top: 120px;
}

.reshenia__text {
    width: 1260px;
    margin: 0 auto;
}

.main-reshenia {
    width: 1260px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.reshenia-block {
    width: 417px;
    height: 482px;
    border-bottom: 1px solid #191919;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reshenia-block-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.reshenia-block-text-p {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.63px;
}

.res_block1 {
    width: 296px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: .5;
    background: transparent;
    border: none;
}

.res_block6 {
    width: 320px;
    border: 1px solid #F9F9F933;
    border-radius: 10px;
}

.res_block6-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #D0D0D0;
    display: flex;
    position: relative;
    top: 92%;
    padding: 0 10px;
}

.reshenia-block-img {
    position: relative;
    background: #080000d2;
    width: 417px;
    height: 417px;
    transition: all .5s ease;
}

.reshenia-block-img:hover {
    background: transparent;
    transition: all .5s ease;
}

.reshenia-block-img img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}